@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Login</h1>
    <form asp-contorller="Home" asp-action="Login">
        <p>
            <input id="Text1" type="text" name="UID" /><input id="Submit1" type="submit" value="Login" />
        </p>
        <p>
            <input id="Text2" type="password" name="PWD" />
        </p>
    </form>
</div>


